
body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f7f9fc;
    margin:0;
    text-align:center;
}

header{
    background:#2e7d32;
    color:white;
    padding:20px;
}

button{
    padding:10px 16px;
    border:none;
    border-radius:8px;
    background:#ff9800;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#f57c00;
}

.container{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:30px;
}

.list-box{
    width:260px;
    background:white;
    padding:15px;
    border-radius:12px;
    box-shadow:0 0 12px rgba(0,0,0,0.1);
}

#drinkList{
    margin-top:15px;
}

.drink-item{
    background:#e8f5e9;
    padding:10px;
    margin:8px 0;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

.drink-item:hover{
    transform:scale(1.05);
}

.drink-item.active{
    background:#2e7d32;
    color:white;
}

.detail-box{
    width:320px;
    background:white;
    padding:20px;
    border-radius:14px;
    box-shadow:0 0 12px rgba(0,0,0,0.1);
}

.detail-box img{
    width:100%;
    border-radius:10px;
    margin-bottom:15px;
}



